<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".xml" mimeType="application/xml" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="public, max-age=3600" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
