<main>
  <app-header></app-header>
  <div class="timeline-container">
    <app-viz-section
      sectionId="1."
      section="Academic Performance vs Career Success"
      description="Explore the correlation between academic metrics and professional outcomes"
      [questions]="academicPerformanceQuestions"
      [answers]="academicPerformanceAnswers">
      <app-sankey-viz></app-sankey-viz>
    </app-viz-section>

    <app-viz-section
      sectionId="2."
      section="Experiential Learning Impact"
      description="Analyze how practical experiences influence career progression"
      [questions]="experientialLearningQuestions"
      [answers]="experientialLearningAnswers">
      <app-scatter-viz></app-scatter-viz>
    </app-viz-section>

    <app-viz-section
      sectionId="3."
      section="Experiential Learning Impact"
      description="Analyze how practical experiences influence career progression"
      [questions]="experientialLearningQuestions"
      [answers]="experientialLearningAnswers">
      <app-stacked-bar-viz></app-stacked-bar-viz>
    </app-viz-section>
  </div>
  
  <footer>
    <img src="assets/beyondGPA.png" alt="Logo" class="logo">
    <p>&copy; 2025 BeyondGPA. All rights reserved.</p>
  </footer>
</main>