<main>
  <app-header></app-header>

  <div class="timeline-container">
    <app-viz-section sectionId="1." section="Visual 1" description="Description of the first visual."
      [questions]="Questions1" [answers]="Answers1">
      <app-visual-1></app-visual-1>
    </app-viz-section>

    <app-viz-section sectionId="2." section="Visual 2" description="Description of the second visual."
      [questions]="Questions2" [answers]="Answers2">
      <app-visual-2></app-visual-2>
    </app-viz-section>

    <!-- becomes visual 3 from report -->
    <app-viz-section sectionId="3." section="Visual 3"
      description="Each dot represents a student. The plot shows how networking and project completion relate to job offers, with color intensity indicating the number of offers. You can filter by field of study."
      [questions]="Questions3" [answers]="Answers3">
      <app-visual-3></app-visual-3>
    </app-viz-section>

    <app-viz-section sectionId="4." section="Box Plot: Academic Performance vs. Time to Promotion"
      description="This visualization uses a box plot to show how university GPA influences the time it takes students to receive their first promotion. It allows us to explore both central trends and variability across GPA brackets."
      [questions]="Questions4" [answers]="Answers4">
      <app-visual-4></app-visual-4>
    </app-viz-section>


    <app-viz-section sectionId="5." section="Visual 5" description="Description of the third visual."
      [questions]="Questions5" [answers]="Answers5">
      <app-visual-5></app-visual-5>
    </app-viz-section>

  </div>

  <footer>
    <img src="assets/beyondGPA.png" alt="Logo" class="logo">
    <p>&copy; 2025 BeyondGPA. All rights reserved.</p>
  </footer>
</main>