<div class="container">
  <select id="x-axis" [(ngModel)]="selectedX" (change)="updateChart()">
    <option value="University_GPA">University GPA</option>
    <option value="University_Ranking">University ranking</option>
    <option value="SAT_Score">SAT score</option>
  </select>

  <div class="chart-container" #chart></div>

  <div class="navigation-buttons">
    <button (click)="previousCharts()" [disabled]="isPreviousDisabled">
      <span class="button_top"> Prev </span>
    </button>
  
    <button (click)="nextCharts()" [disabled]="isNextDisabled">
      <span class="button_top"> Next </span>
    </button>
  </div>
</div>